@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Lato&display=swap');

:root {
    --primary-color: #2d1b45;
    --secondary-color: #ffffff;
    --accent1-color: #937bd0;
    --accent2-color: #64a6da;

    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Lato', sans-serif;
}

body {
    font-family: var(--paragraph-font);
    max-width: 1000px;
    padding: 20px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

div {
    position: relative;
}

.hero img{
    max-width: 100%;
    display: block;
    height: auto;
}

h1 {
    position: absolute;
    top: 0;
    left: 50px;
    color: var(--secondary-color);
}

article img {
    width: 15%;
    float: right;
}

article {
    position: absolute;
    top: 300px;
    margin: 20px;
    background-color: lightblue;
    border: 10px solid lightblue;
    opacity: 80%;
}

section p {
    margin-bottom: 30px;
    color: darkblue;
}

section img {
    width: 50%;
    height: auto;
}

footer img {
    width: 5%;
    height: auto;
}

nav a {
    text-decoration: none;
}