@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Lato&display=swap');

:root {
    --primary-color: #2d1b45;
    --secondary-color: #ffffff;
    --accent1-color: #937bd0;
    --accent2-color: #64a6da;

    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Lato', sans-serif;

    --nav-background-color: #e5e5ef;
    --nav-link-color: #64a6da;
    --nav-hover-link-color: #2d1b45;
    --nav-hover-background-color: #ffffff;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}


h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

div {
    position: relative;
}

h1, article {
    position: absolute;
    top: 20px;
    left: 50px;
}

article img {
    width: 25%;
    display: block;
    height: auto;
}

article p {
    float: right;
}

footer img {
    width: 25%;
    height: auto;
}