* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
}


h1 {
    color: steelblue;
    padding-bottom: 10px;
    border-bottom: solid steelblue;
    margin-bottom: 10px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

aside {
    position: relative;
    width: 20em;
    text-align: center;
    grid-row: 1/2;
    grid-column: 1/2;
}

aside h2 {
    position: absolute;
    color: #fff;
}
aside img {
    width: 285px;
    height: auto;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

main{
    grid-column: 2/3;
    margin: 1rem;
}

footer {
    margin-top: 15px;
    border-top: 1px;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0,.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

.grid {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}